<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930276136204-s7esg6a3e0jtkllnvmqaqvjjprimm3un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930276136204-s7esg6a3e0jtkllnvmqaqvjjprimm3un</string>
	<key>API_KEY</key>
	<string>AIzaSyDWkrOyfQ1P4Qc0KgxPvnY-dQ-OC8nxkV4</string>
	<key>GCM_SENDER_ID</key>
	<string>930276136204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allpay</string>
	<key>PROJECT_ID</key>
	<string>shoesthesis</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesthesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930276136204:ios:28a836a9289e9dadf42529</string>
</dict>
</plist>